extends layout

include _includes/sharedHTMLfunctions

block content
  .row
    .col-12.col-md-6
        a.btn.btn-primary.float-right(href=`/courses/${course._id}`) Back To Course
  .row.banner
    .col-12
      h1 #{pageHeader.title} | Course Details 
  .row
    .col-12.col-lg-9
      .row
        .col-12.col-md-6
          a.btn.btn-primary.float-right.button(href=`/courses/${course._id}/update`) Update Course
          p  #{course.name} - #{course.description}
          small &nbsp;
              +outputRating(course.rating)
        .col-12.col-md-6.location-map
          .card.card-primary
            .card-block
              h2.card-title Course Attended
              img.img-fluid.rounded(src=`/images/ProductionLine.jpg`)
      .row
        .col-12
          .card.card-primary.review-card
            .card-block
              form(action=`/courses/${course._id}/students/search`, method="post", role="form")
                .form-group
                    input#review(name="searchPhrase", style="width: 40%;")
                    button.btn-primary-left search
      .row
        .col-12
          //- p !{(comment.comment).replace(/\n/g, '<br/>')}
          .card.card-primary.review-card
            .card-block
              a.btn.btn-primary.float-right(href=`/courses/${course._id}/students/new`) Add Student
              h2.card-title Course Students
              each student in course.students
                .row.review
                  .col-12.no-gutters.review-header
                    span.reviewAuthor.push #{student.company}
                  .col-12
                    .card-block
                        h4
                            a(href=`/courses/${course._id}/students/${student._id}`)= student.name
                            small &nbsp;
                                +outputRating(student.rating)
                            small &nbsp;
                            a.btn.btn-primary.float-right.button(href=`/courses/${course._id}/students/${student._id}/delete`) Remove
                        p.address= student.qualification
                        p.address= student.description

                    //- p !{(comment.comment).replace(/\n/g, '<br/>')}
    .col-12.col-lg-3
      p.lead #{sidebar.context}
      p= sidebar.callToAction