extends layout

include _includes/sharedHTMLfunctions

block content
  .row
    .col-12.col-md-6
        a.btn.btn-primary.float-right(href=`/courses/${courseid}`) Back To Course
  .row.banner
    .col-12
      h1 #{pageHeader.title} | #{pageHeader.strapline} 
  .row
    .col-12.col-lg-9
      .row
        .col-12.col-md-6
          a.btn.btn-primary.float-right(href=`/courses/${courseid}/students/${courseStudent._id}/update`) Update Student
          p  #{courseStudent.role} - #{courseStudent.company}
          small &nbsp;
              +outputRating(courseStudent.rating)
        .col-12.col-md-6.location-map
          .card.card-primary
            .card-block
              h2.card-title Attendee Details
              img.img-fluid.rounded(src=`/images/student.png`)
      .row
        .col-12
          
          //- p !{(comment.comment).replace(/\n/g, '<br/>')}
          .card.card-primary.review-card
            .card-block
              a.btn.btn-primary.float-right(href=`/courses/${courseid}/students/${courseStudent._id}/comment/new`) Add Comment
              h2.card-title Student comments
              each comment in courseStudent.comments.reverse()
                .row.review
                  .col-12.no-gutters.review-header
                    span.reviewAuthor.push 
                      +formatDateTime(comment.createdOn)
                  .col-12
                    //- p !{(comment.comment).replace(/\n/g, '<br/>')}
                    p #{comment.comment}
    .col-12.col-lg-3
      p.lead #{sidebar.context}
      p= sidebar.callToAction